ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navbar-custom {
    background-color: black; 
    color: white;
}
.navbar-brand img {
    width: 100px; /* Modifica el tamaño de la imagen del encabezado */
    height: auto;
    border: 0px;
    border-radius: 0px;
}
.list-unstyled img {
    width: 200px; /* Establece el ancho deseado */
    height: 200px; /* Establece la altura deseada */
}
.boton-anadir-plato {
    position: absolute;
    top: 10;
    right:0;
    left: 40;
    margin: 50px; /* Ajusta el margen según tu preferencia */
    color: rgb(255, 255, 255);
}

/*Container fotos pagina princ.*/
.container11{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
}

.CategoriaTitulo {
    font-size: 24px; /* Modifica el tamaño de las palabras "Primero", "Segundo" y "Postre" aquí */
    color: rgb(0, 0, 0);
    font-size: 21 px;
    text-decoration: underline;
    font-weight: bold;
}

li.Plato {
    color: rgb(6, 8, 8);
    margin: 20px;
    flex: 1;
    font-size: 16px; /* Modifica el tamaño de los nombres de los platos aquí */
}

li.Plato img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

img {
    max-width: 600px; 
    height: auto;
    display: block;
    margin: 0 auto;
}

img {
    border: 4px solid rgb(10, 10, 10);
    border-radius: 10px;
}

header img {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
}
header h1{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font: arial;
}

li{
    color: rgb(6, 8, 8);
    flex: 1;
    font-size: 16;
}
.categoria{
    font-size: 24;
    color:black;

}

li p{
    text-align: center;
}

header{
    text-align: left;
    width: 100%;
    height: 190px;
    background-color:black;
}

img {
    max-width: 600px; 
    height: auto;
    display: block;
    margin: 0 auto;
}

img {
    border: 4px solid black;
    border-radius: 10px;
}

header img {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
}
header h1{
    font-size: 24px;
    color: aliceblue;
    font: arial;
}

/*Formulario*/
.qbanner {
    background-color: rgb(43, 43, 43); 
    color: whitesmoke;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
    height: 25px;
    width: 300px;  
}
#space{ 
    height: 70px;
}
.f1  {
    color:whitesmoke; 
    font-weight: 400;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  rgb(43, 43, 43);
    padding: 15px;
    width: 40%;
}
.f2  {
    color:whitesmoke; 
    font-weight: 400;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  rgb(43, 43, 43);
    padding: 15px;
    width: 40%;
}
.formularios{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10% ;
    justify-content: space-evenly;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin-top: 20px;
}
.horario{
    align-items: center;

}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
li{
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-custom {
    background-color: black; 
    color: white;
}
.navbar-brand img {
    width: 100px; /* Modifica el tamaño de la imagen del encabezado */
    height: auto;
}
.list-unstyled img {
    width: 200px; /* Establece el ancho deseado */
    height: 200px; /* Establece la altura deseada */
}
.boton-anadirplato{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
}


/* CSS DAVID*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
}

.img-callos img {
    display: block;
    flex-direction: row;
    width: 20%;
    height: 100%;

}

.alergenos {
    display: flex;
    column-gap: 10px;
}

.sulfitos {
    margin: none;
    border: black;
}

.gluten{
    margin: none;
    border: black;
}

.descripcion-formulario {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.text-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label {
    margin-bottom: 5px;
}

form input {
    padding: 8px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    column-gap: 10px;
}

button {
    padding: 10px;
}

button.save {
    background-color: #4CAF50;
    color: white;
}

button.create {
    background-color: #008CBA;
    color: white;
}

button.delete,
button.edit,
button.view {
    background-color: red;
    color: white;
    border: none;
}